<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link rel="stylesheet" href="/css/productsList.css">
</head>
<body>
<div class="items">
    <p class="Heading">Welcome to Quick Cart</p>
    <p class="Heading">Products List:</p>
    <ul th:each="product : ${products}" class="items">
        <li>
            <span title="Add to cart">
                <button class="ItemButton"
                        type="button"
                        th:text="${product.name}"
                        th:attr="data-name=${product.name}, data-price=${product.price}"></button>
            </span>
            <span th:text="' - '+${product.price}"></span>
        </li>
    </ul>
    <button class="enter" id="showTotalBtn" type="button">Show Total</button>
    <p id="totalDisplay" class="totalDisplay"></p>
    <button class="enter" onclick="location.href='/close'">Buy</button>
</div>

<div id="cart" class="cart">
    <p class="Heading">Cart</p>
    <table id="cartList">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
    </table>

</div>

<script src="/js/productsList.js"></script>

</body>
</html>
