<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<p class="heading">Registration form for local users</p><hr>
<div class="form">
<form th:action="@{/user/register}"  method="post">

    <div class="name">
    <label for="name">Username: </label>
    <input type="text" id="name" name="name">
    <br>
    </div>

    <div class="email">
    <label for="email">E-Mail: </label>
    <input type="email" id="email" name="email">
    <br>
    </div>

    <div class="mobile">
    <label for="mobile">Mobile Number: </label>
    <input type="text" id="mobile" name="mobile">
    <br>
    </div>

    <div class="password">
    <label for="password">Password: </label>
    <input type="password" id="password" name="password">
    <br>
    </div>

    <button type="submit">Register</button>

</form>
</div>
</body>
</html>