body
{
    text-align: center;
    background-color: palegreen;
    color: darkslategrey;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.heading{
    font-size: 50px;
}

.content{
    font-size: 40px;
}