body
{
    display: flex;
}

div.items{
    background-color: palegreen;
    color: darkslategrey;
    width: 60%;
    height: 100vh;
    box-shadow: 0 4px 8px black;
}

div.cart{
    margin-left: 10px;
    width: 40%;
    height: 100vh;
}

.Heading
{
    font-size: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin:10px;
    text-align: center;
}

ul.items{
    font-size: 20px;
}

button.ItemButton{
    border: none;
    background-color: palegreen;
    color: #003333;
    font-size: 19px;
    padding: 5px;
}

button.ItemButton:hover{
    color: olive;
}

#cartList{
    border: 2px solid #003333;
    border-collapse: collapse;
    width: 100%;
}

th{
    padding:10px;
    font-size: 19px;
    background-color: #003333;
    color: #e6f2f2;
    box-shadow: 0 2px 2px black;
    border: 2px solid #003333;
}

td{
    font-size: 19px;
    padding: 10px;
    border: 2px solid #003333;
}

button.enter{
    background: #003333;
    border-radius: 3px;
    color: #e6f2f2;
    margin-left: 80%;
    width: 100px;
    padding: 10px;
    font-size: 19px;
    cursor:pointer;
}

button.enter:hover{
    background-color: olive;
}

p.totalDisplay{
    font-size: 20px;
    text-align: center;
    margin-left: 80%;
    color: #e6f2f2;
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    background-color: #003333;
    border-radius: 3px;
    border: 2px solid #003333;
}